/* Estilos para el contenedor del menú de navegación */
#navig {
  background-color: #4CAF50; /* Color de fondo del menú */
  padding: 10px;
}

/* Estilos para la lista de enlaces */
#navig ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos para los enlaces del menú */
#navig a {
  text-decoration: none;
  color: white; /* Color del texto de los enlaces */
  padding: 10px;
  background-color: #4CAF50; /* Color de fondo por defecto */
  border-radius: 5px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

/* Estilos para los enlaces del menú al pasar el cursor sobre ellos */
#navig a:hover {
  background-color: white; /* Color de fondo al pasar el cursor sobre los enlaces */
  color: #4CAF50; /* Color del texto al pasar el cursor sobre los enlaces */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra al pasar el cursor */
}
